/*
* @Author: dell
* @Date:   2017-03-07 15:43:06
* @Last Modified by:   dell
* @Last Modified time: 2017-03-08 10:16:49
*/
*{
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
a{
	color:#808080;
}