/*
* @Author: dell
* @Date:   2017-03-07 15:40:23
* @Last Modified by:   dell
* @Last Modified time: 2017-03-15 20:15:07
*/

.header{
 width:100%;
 height: 32px;
 border-bottom:1px solid #ccc;
 background:#f7f7f7;
 font-size: 12px;
 line-height: 32px;
 /* 字体属性可以从父元素继承 */
 color: #808080;
 margin-bottom: 25px;
}
.header a:hover{
	color: red;
}
.header-main{
width: 1200px;
height: 100%;
/* 可以是块元素居中 */
margin: 0 auto;
}

.header-right{
	float: right;
	width: 432px;
	height: 100%;
}
.weclome{
float:left;
/* 元素脱离后 */
}
.denglu{
	width:77px;
	height: 100%;
	float: left;
	margin-left: 20px;
	margin-right: 14.5px;
	}
.login{
float: left;
}
.line{
float: left;
margin-left : 11.5px;
margin-right: 11.5px;
} 

.reg{
float:left;
}

.order{
	float:left;
	margin-right: 14.5px;
}

.notice{
	width:19px;
	height: 18px; 
	 margin-top: 5px;
	float:left;
	margin-right:9px; 
	background-image:url('../Images/notice.png');	
}
.gonggao{
	float:left;
	margin-right:12px;
}

.webo{
	width:18px;
	height: 18px;
	margin-top: 5px;
	float:left;	
	background-image:url('../Images/w2.jpg');
}

.wexin{
	position: relative;
	width:18px;
	height: 18px;
	margin-top: 5px;
	float:left;
	margin-right:2px;
	background-image:url('../Images/w1.jpg');	
}
.wexin:hover .ss{
	display: block;
}
.ss{
display: none;
	position: absolute;
	left: -116px;
	top:20px;
	margin:auto;
	z-index:1010;
}

.sou{
	width: 1200px;
    height: 29px;    
/* 可以是块元素居中 */
    margin: 0 auto;
    margin-bottom: 8px;
}
.sou1{ 
	height: 29px;
	width: 438px;
	float: right;
}
.input{
	height:25px;
	width:259px;
	color: #000000;
	float:left;
	font-size: 12px;
	margin-right:0px;

}
.button1{
	width:46px;
    height:100%;
    color: #fdfffe;
    float: left;
    background: #b81d23;

}
.gouwu{
	position: relative;
	z-index: 1000;
	float:right;
	width: 105px;
	height: 27px;
	border:1px solid #c1383e;
	background-image:url('../Images/vanclsprite.png');
	background-position:-153px 0px;
	
 }	

.gouwu:hover{

	float:right;
	width: 105px;
	height: 27px;
	border:1px solid #c1383e;
	background-image:url('../Images/vanclsprite.png');
	background-position:-153px -29px;
	
}
.xian{
	position: absolute;
	right:0;
	top:-2px;
	margin:auto;
	width:105px;
	height:2px;
	background: #fff;
}
.gouwu:hover .gouwus{
	display: block;
}
.gouwu span{
	margin-left:40px;
    line-height: 29px;
    font-size: 12px;
    color: #fff;
}
.gouwu:hover span{
	margin-left: 40px;
	line-height: 29px;
	color: red;
}
.gouwus{
	display: none;
	font-size:15px;
	font-family: 苹方;
	position:absolute;
	left:-231px;
	top:26px;
	margin: auto;
	z-index: 999;
	background:#fff;
	width:325px;
	height:21px;
	padding:5px;
	border:1px solid #c1383e;
}


.sou2{
	height: 100%;
	 width: 107px;
	float: right;
	background: #b81b22;
}

.text{
    width: 1200px;
    height: 12px;
    margin: 0 auto;
    font-size: 11px;
    color: #727171;
    margin-bottom: 13px;
}
.text1{
    width: 423px;
    height: 100%;
    float: right;
}
.text2{
	 float: left;
	 margin-right: 13px;
}
.text3{
	 float: left;
	 margin-right: 10px;	 
}
.text4{
	 float: left: ;	

}
.daohang{
	width: 1200px;
	height: 45px;
	margin: 0 auto;
	font-size: 17px;
	color: #727171;
	margin-bottom: 33px;	
}
.daohang1{
	float:left;
	width:185px;
	height:43px;	
	margin-right: 15px;
	margin-bottom: 1px;

}
.list{

	margin-top:23px;
	float: left;
	font-size:17px;
	width:1000px;
	height:20px;
}
.list>li{
	position: relative;
	text-align: center;
	line-height: 20px;
	float: left;
	width:99px;
	height:20px;
	border-right:1px solid #000;
}
.secondlist{
	transition:all 1s;
	text-align: center;
	position: absolute;
	left:0;
	top:23px;
	margin:auto;
	width:98px;
	height:0;
	overflow: hidden;
	background: #fff;
	z-index:999;
}
.secondlist li:not(.top){
	font-family: 苹方;
	font-size:13px;
	width:98px;
	height:30px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.top{
	width:100px;
	height:5px;
	background:#B81C22 ;
}
.daohang4{
	width: 1px;
	height: 16px;
	float:left;
	margin-top:28px;
	margin-right: 26px;
}
.daohang5{
	float:left;
	margin-top:28px;
	margin-right: 25px;  
}
.daohang6{
	width: 1px;
	height: 16px;
	float:left;
	margin-top:28px;
	margin-right: 41px;

}
.daohang7{
	float:left;
	margin-top:26px;
	margin-right: 39px;  
}
.daohang8{
	width: 1px;
	height: 16px;
	float:left;
	margin-top:28px;
	margin-right: 18px;

}
.daohang9{
	float:left  ;
	margin-top:28px;

}
.banner{

	width: 1200px;
	height: 535px;	
	background: pink; 
	margin: 0 auto;
	margin-bottom: 68px;
	position: relative;
}
.banner1{
	position: absolute;
	top:0;
	left:0;
	margin:auto;
	height: 100%;
	width: 100%;
	margin-bottom: 69px

}
.banner2{
	position: absolute;
	top: 236px;
	left:14px;
	z-index: 999;
}
.banner3{
	position: absolute;
	top: 236px;
	right:14px;
	z-index: 999;
}
.box{
	float:none;
	position: absolute;
	bottom: 58px;
	right:552px;
}
.box ul li{
	list-style: none;
	position:relative;
   margin: 0 auto;
   background: #dddddd;
    width: 200px;
	margin-right:11px;
	width: 13px;
	height: 13px;
	float: left;
	border-radius: 50px;
  z-index: 999;

}


.cunji{
   overflow: hidden;
	background: #ffffff; 
	margin: 0 auto;
	margin-bottom: 45px;
}

.cunji1{
	float: left;
	font-size:18px;
	color: #9a9a9a;
	margin-left: 538px;
	
}

/* 春季新品图片 */
.tupian{
	width:1200px;
    overflow: hidden;
	background:#ffffff;
	margin:0 auto;
	margin-bottom: 46px;

}
.tupian1{ 
	float:left; 
 padding-right:15px; 
/* width: 390px; */
}
.tupian2{
	margin-right:0px;
	margin-right:0px;
/* width: 390px;*/
}
/* 韩国购图片*/
.hangou{
height:510px; 
width:1200px;
margin:0 auto;
margin-bottom: 46px;

}
.hangou-left{
float:left; 
height: 509px;
width: 590px;
margin-right: 17px;
}
.left-top{
	width:100% ;
	height: 440px;
}
.left-button{
    width:100% ;
	height: 69px;
	border-left:1px solid #e8e7ec;
	border-right:1px solid #e8e7ec;
	border-bottom:1px solid #e8e7ec; 
	box-sizing:border-box;
}
.button-left{
float: left;
width:109px;
height:14px;
font-size:14px;
margin-top:29px;
margin-left: 12px;  
}
.button-right{
float: right;
width:52px;
height:14px;
font-size:14px;
margin-top:29px;
color: #ab002f;
margin-right:12px;  
}
.hangou-middle{
float:left; 
height: 509px;
width: 290px;
margin-right: 17px;

}
.middle-top{	 
	width: 100%;
	height:250px;
	
	margin-bottom: 9px;
}
.top-top{
	width: 100%;
	height: 180px;
}
.top-button{
	 width:100% ;
	height: 68px;
	border-left:1px solid #e8e7ec;
	border-right:1px solid #e8e7ec;
	border-bottom:1px solid #e8e7ec; 
	box-sizing:border-box;
}
.button-left2{
float: left;
width:165px;
height:14px;
font-size:14px;
margin-top:29px;
margin-left: 12px;  
}

.middle-button{
    float:left;  
	width: 100%;
	height:250px;
}
.middle-top2{	 
	width: 100%;
	height:250px;
	
}
.hangou-right{
float:left; 
height: 509px;
width: 286px;
}
.right-top{
	width: 100%;
	height: 440px;
}
.right-button{
    width:100% ;
	height: 69px;
	border-left:1px solid #e8e7ec;
	border-right:1px solid #e8e7ec;
	border-bottom:1px solid #e8e7ec; 
	box-sizing:border-box;
}
.top-button{
	 width:100% ;
	height: 68px;
	border-left:1px solid #e8e7ec;
	border-right:1px solid #e8e7ec;
	border-bottom:1px solid #e8e7ec; 
	box-sizing:border-box;

}
.button-left3{
float: left;
width:203px;
height:14px;
font-size:14px;
margin-top:29px;
margin-left: 12px;  
}

.bottom-top{
 height:286px;
 width:1200px;
 border:1px solid #e0e0e1;
 margin: 0 auto;
 margin-bottom: 25px;
}
.line2{
   width:1200px;
   height:1px;
   background: #3e3a39;
   margin: 0 auto;
   margin-bottom: 15px;
}
.bottom-text{
width: 828px;
height: 13px;
font-size: 12px;
color: #3e3a39;
 margin: 0 auto;
 margin-bottom: 15px;
}
.bottom-text2{
width: 168px;
height: 13px;
font-size: 12px;
color: #3e3a39;
 margin: 0 auto;
margin-bottom: 15px;
}
.bottom{
	height: 46px;
	width: 729px;
   margin: 0 auto;
   margin-bottom: 18px;
}
.bottom-top2{
width: 1198px;
height: 184px;
}
.kuang-left{
float:left;  
width: 400px;
height: 100%;
position: relative;
}
.bottom-tottom{
	width: 1198px;
	height: 66px;
}
.img-ren{
	padding: 47px 167px 30px 208px;
}
.img-kuang{
	padding-left:148px;
}
.tiao{
    float:left; 
	width: 1px;
	height: 133px;
	background: #e0e0e1;
	border-top: 33px solid #ffffff;	
}
.img-ren2{
 position: absolute;
 margin:auto;
	left: 0px;
	right:0px;
	top:42px ;

}
.kuang-text{
	position: absolute;
	width: 125px;
	height: 15px;
	font-size: 13px;
	color: #727171;
	margin:auto;
	left: 0px;
	right: 0px;
	top:142px ;

}
.kuang-text2{
	position: absolute;
	width: 80px;
	height: 15px;
	font-size: 13px;
	color: #727171;
	margin: auto;
	left: 0px;
	right: 0px;
	top:117px ;

}
.kuang-right{
float:right;  
width: 395px;
height: 100%;
position: relative;
}
.img-erwei{
	position: absolute;
	width: 98px;
	height:98px;
	margin: auto;
	right: 183px;
	top:38px ;

}
.erwei-text{
	width: 130px;
	height:16px;
	position: absolute;
	font-size: 14px;
	color: #727171;
	margin: auto;
	right: 162px;
	top:155px ;
}
.erwei-text2{
   width: 29px;
	height:14px;
	position: absolute;
	font-size: 14px;
	color: #a10000;
	margin: auto;
	right: 207px;
	top:155px ;

}
.erwei-text3{
   width: 50px;
	height:14px;
	position: absolute;
	font-size: 14px;
	color: #727171;
	margin: auto;
	right: 156px;
	top:155px ;

}
.kuai{
	width: 1115px;
	height: 60px;
	background: #f8f8f8;
	margin-left: 43px;
	margin-bottom: 31px;
	position: relative;
}
.kuai-text{
    position: absolute;
	width: 980px;
	height: 25px;
	font-size:14px;
	color: #323232;
	margin: auto;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom:0px ;

}
.kuai-left{
	float: left;
	text-align: left;
	width: 113px;
	height: 25px;
	border-right:1px solid #dadadb;
}
.kuai-middle{
	float: left;
	text-align:center;
	width: 178px;
	height: 25px;
	border-right:1px solid #dadadb;
}
.kuai-middle2{
	float: left;
	text-align:center;
	width: 213px;
	height: 25px;
	border-right:1px solid #dadadb;
}
.kuai-right{
	float: left;
    text-align:right;
	width: 113px;
	height: 25px;
}
.bottom-img{
	width: 76px;
	height: 205px;
position: fixed;
bottom: 50px;
right: 10px;
	z-index: 999;

}
.vb{
	position: absolute;
	width:100%;
	height:50px ;
	left: 0;
	bottom: 0;
}
