body{
	font-family: 苹方;
}
.bi{
	width:100%;
	height:100%;
	text-align: center;
	background: #F7FAFC;
	background: #fff;
}
.banner img{
	width:100%;
	height:auto;
	float:left;
}
.banner{
	width:100%;
  overflow:hidden;
	position:relative;
}
.banner ul{
	width:auto;
	height:100px;
	font-weight:bold;
	position: absolute;
	left:20%;
	top:0px;
	bottom:0px;
	margin:auto;
	color:#fff;
	opacity:0.5; 
}
.banner ul li{
	margin-top:10%;
}

/* 导航样式 */

h2{
 line-height:50px;
}
nav img{
	position: absolute;
	top: 0;
	bottom:0;
	right:4%;
    margin:auto;
	width:40px;
	height:40px;
	
}

/* 导航样式结束 */

/*标题线样式 */
.line{
	margin-top:80px;
	height:2px;
	width:100%;
	background:#CCCCCC;
}
h3{
	font-weight:bold;
	text-align:center;
}
	
/* 标题线样式结束 */

/* 圆的样式 */
.ra{

	position: relative;
	width:250px;
	height:250px;
	border-radius:50%;
	border:1px solid #CCCCCC;
}
.ra img{
	position: absolute;
	left:0;
	right: 0;
	top:30px;
	margin:auto;
	width:70px;
	height:70px;
}
.text{
	font-weight:bold;
	height:60px;
	width:200px; 
	font-size:18px;
	position:absolute;
    left: 65px;
	bottom:50px;
	margin:auto;
}
/* 圆的样式结束 */

/*作品图片样式*/
.picture img{
	padding-top:20px;
	margin:0 auto;
	width:100%;
	height:100%;
}
 .yid{
    transition: all .7s linear;	
 }
 .yid:hover {
 transform: translateY(-10px);
 }

/* 图片动画 */
/* 作品图片样式结束 */
/* 标题3样式 */
.all{
	text-align:center;
	margin:50px auto;
	width:100px;
	line-height:35px;
	height:35px;
	border:1px solid black;
}
.all:hover{
	background:black;
	text-align:center;
	margin:50px auto;
	width:100px;
	line-height:35px;
	height:35px;
	color:#fff;
	border:1px solid #000;
}
/* 标题3样式结束 */

/* 自我介绍图片背景 */
.beijing{
	background-size:100%;
	position:absolute;
	left:0;
	top:0;
	margin:0 auto;
	height:100%;
	width:100%;
}
/*自我介绍样式 */
.line2{
	 margin:0 auto;
	width:100%;
	margin-top:30px;
	height:1px;
    background:#fff;
}
.xiang{
	position: absolute;
   left:0;
   right:0;
   top:170px;
    margin:auto;
	width:150px;
	height:150px;
	border-radius:50%;
	overflow:hidden; 
}
.xiang img{
	width:150px;
	height:150px;
}  
h6{
padding-top:220px;
margin:0 auto;
height:150px;
font-size:18px;
color:#fff;
}
.beijing p{
text-align:center;	
color:#fff;
}

/* 自我样式结束 */

/* 底部样式 */
.lianxi{
	overflow:hidden;
	width: 100%;
    background: #4C4C4C;
}
.hey{
	color:#fff;
	margin-top:10px;
	font-weight:bold;
}
.line3{
margin-top:50px;
height:1px;
background:#fff;
width:100%; 
}
.part1{
	color:#fff;
}
.part2{
	color:#fff;
}
.part1 ul li ul li{

	height:30px;
	line-height:40px;
}
.part1 ul li ul li p{
	margin-left:3px;
	float:left;
	line-height:40px;
}

.part1 ul li ul div {
		margin-top:3px;
	height:auto;
	width:100%;
}
.part1 ul li ul div img{
	float:left;
	width:35px;
	height:35px;
}
.part1 ul li ul div{
	margin-left:10px;
	float:left;
}
.part2  ul li input{
	margin:12px 0;
	width:100%;
	height:40px;
	background:#606060;
	border:1px solid #8E8E8E;
}
.s3{line-height:40px;
	text-align:center;
	font-size:18px;
	width:150px;
	height:40px;
	border:1px solid #fff;
}

/* 底部样式结束 */

/* 分享样式 */
.fengxiang{
	width:100%;
	 height:auto;
	 overflow:hidden;
	background:#404040;
	
}
.find{
	color:#fff;
	text-align:center;
	font-weight:bold;

}
.line4{
height:1px;
background:#fff;
margin: 0 auto;
}
.fxpicture{
	width:150px;
	height:40px;
margin: 0 auto;
}
.fxpicture img{
margin-top:10px;
 margin:0 5px;
width:32px;
height:30px;
}
/* 分享样式结束 */

/* 版权信息样式 */
.banquan{
	width:100%;
	height:40px;
	background:black;
}
.banquan1{
	float:left;
	font-size:18px;
	line-height: 35px;
	color:#fff;
}
.banquan2{
	font-size:18px;
	line-height: 50px;
	color:#fff;
	float:right;
}

/* 版权信息样式结束 */
/* 动画 */
.boxq{
	z-index:;
	content:"";
	height:50%;
	width:100%;
	display:block;
    background:#000;
    position: absolute;
    left:0;
    right:0;
    bottom:-93px;
    margin:auto;
    opacity:0;
}
.kuangq{
 position: relative;
 overflow: hidden;
}
.kuangq:hover .boxq{
animation:shangyi .7s linear forwards;	
}
@keyframes shangyi{
0%{ opacity:0; transform:translateY(0px);}
 10%{ opacity:0.2; transform:translateY(-10px);}
 30%{ opacity:0.4; transform:translateY(-30px);}
 50%{ opacity:0.6; transform:translateY(-50px);}
 70%{ opacity:0.8; transform:translateY(-80px);}
 100%{ opacity:0.8; transform:translateY(-100px);}
 } 

/* 动画结束 */

/*大屏的宽度 */
@media screen and (min-width:1200px){
	.heading-inner:before {
		position: absolute;
		content: "";
		border-top: 1px dotted#ddd;
		border-bottom: 1px dotted#ddd;
		width: 330px;
		right: 0px;
		top: 25px;
		padding: 5px 10px;
		overflow: hidden;
	}
	.heading-inner:after {
		position: absolute;
		content: "";
		border-top: 1px dotted#ddd;
		border-bottom: 1px dotted#ddd;
		width: 330px;
		left: 0px;
		top: 25px;
		padding: 5px 10px;
		overflow: hidden;
	}
	}
h1{
	font-size:70px;
}
h2{
font-size:30px;
 color:#fff;
}
h3{ text-align:center;
	margin-top:30px;
    font-size:50px;
}
h4{
	margin-top:30px;
    font-size:50px;
}
h5{
	margin-top:30px;
	text-align:center;
	line-height: 50px;
	font-weight:bold;
	font-size:50px;
	color:#fff;
}
h6{
	width:50%;
}
.ra{
	margin:0 auto;
	margin-left:0px;
	margin-bottom:0px;
}
.beijing{
	height:500px;
}
}
/* 大屏的结束 */

/* 中屏的开始 */

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto;
}
.navbar-default .navbar-toggle {
	border-color: #ddd;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
}
#tf-menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	font-weight: 600;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #00AEFF!important;
	background: transparent;
}

@media screen and (min-width:768px){
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 20px;
	}
	.nav>li>a {
		position: relative;
		display: block;
		padding: 18px 15px;
		text-transform: uppercase;
		color: #FFF;
		font-size: 14px;
		font-weight: 600;
		font-weight: 600;
	}
	a:link, a:visited {
		text-decoration: none;
	}
	.navbar-right {
		float: right!important;
		margin-right: -15px;
	}
	.navbar-nav {
		float: left;
		margin: 0;
	}
	.navbar-nav>li {
		float: left;
	}
	.nav>li {
		position: relative;
		display: block;
	}	.navbar-toggle {
		display: none;
	}
	#tf-menu.navbar-default .navbar-nav > li > a {
		text-transform: uppercase;
		color: #FFF;
		font-size: 14px;
		font-weight: 600;
	}
	.navbar-toggle {
		position: relative;
		float: right;
		padding: 9px 10px;
		margin-top: 8px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	button, input, select, textarea {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: -15px;
	}
	.navbar-default .navbar-brand {
		color: #777;
	}
	.navbar-brand {
		margin-top: -18px;
	}
	.navbar-brand {
		float: left;
		height: 50px;
		padding: 15px 15px;
		font-size: 18px;
		line-height: 20px;
	}
h1{
font-size:50px;
}
h2{
font-size:30px;
 color:#fff;
}
h3{  margin-top:30px;
	text-align:center;
    font-size:30px;
}
h4{  margin-top:30px;
	text-align:center;
    font-size:28px;
}
h5{ 
	margin-top:60px;
	text-align:centr;
	line-height: 50px;
	font-weight:bold;
	font-size:50px;
	color:#fff;
}
h6{
	width:70%
}
.beijing p{
text-align:center;	
color:#fff;
font-size:30px;
}

.ra{
	margin:0 auto;
	margin-top:100px;
}
.beijing{
	height:600px;
}
.hey{
	text-align:center;
	font-size:60px;
}
.find{
	font-size:50px;
}
.line4{
	width:40%;
}

}
/* 中屏的结束 */

/* 小屏的开始*/
@media screen and (max-width: 768px){
	.navbar-toggle {
		display: none;
	}
	.navbar-toggle {
		position: relative;
		float: right;
		padding: 9px 10px;
		margin-top: 8px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	button, input, select, textarea {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
	.sec-title {
		padding: 8px 0px 10px 0px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 40px;
		line-height: 45px;
		font-family: 'Open Sans', sans-serif;
		color: #444;
	}
	/* banner中字号的改变 */
h1{
	font-size:30px;
}
h2{
	display:none;
/* font-size:20px;
 color:#fff; */
}
h3{	
	text-align:center;
	font-weight:bold;
    font-size:30px;
}
h4{	text-align:center;
	font-weight:bold;
    font-size:30px;
}
h5{ 
	margin-top:30px;
	text-align:center;
	line-height: 30px;
	font-weight:bold;
	font-size:30px;
	color:#fff;
}
h6{
	width:90%;
}
.picture img{
	margin: 0 auto;
}
.ra{
	margin:0 auto;
	margin-top:30px;
}
.beijing{
	height:750px;
	background-size:cover;
}
.beijing p{

font-size:30px;
}
.p1{
	margin-top:350px;
}
.p2{
	margin:5px ;
}
.hey{
	text-align:center;
	font-size:40px;
}
.find{
  font-size:40px;
}
.line4{
	width:80%;
}
.banquan1 {
	display:none;
}

}
/* 小屏的结束 */
/* 其他 */
@media screen and (max-width:320px){
.beijing p{

font-size:22px;
margin-top:5px;
}
h6{
	font-size:18px;
}
}
.heading-inner {
	/* width: 60%; */
	margin: 0 auto;
	margin-top:100px;
	position: relative;
}
.text-center {
	text-align: center;
}

.sec-title {
	padding: 8px 0px 10px 0px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
	line-height: 45px;
	font-family: 'Open Sans', sans-serif;
	color: #444;
}
.heading-inner p {
	margin-top: 20px;
}

.sec-title span {
	color: #00AEFF;
}
.about-inner {
	margin-bottom: 50px;
	padding: 0px 20px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
}
.about-inner img{
	font-size: 50px;
	color: #00AEFF;
	text-align: center;
	line-height: 50px;
	margin-right: 20px;
	-webkit-transition: all .3s linear 0s;
	-o-transition: all .3s linear 0s;
	transition: all .3s linear 0s;
	margin: 0px auto;
}
.icon-adjustments:before {
	background-image: url("../img/icon1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.about-content h4 {
	border-bottom: 1px solid#ddd;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	color: #111;
	margin: 20px 0px 15px;
	padding-bottom: 15px;
	line-height: 38px;
}
.about-inner {
	margin-bottom: 50px;
	padding: 0px 20px;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.skill-one {
	margin-top: 2.3em;
	height:65px;
}
.skill-one:nth-child(1) {
	margin-top:130px;
}
.percent2 {
	top: 187px;
	right: 16%;
}
.percent3 {
	 top: 275px;
	 right: 19.3%;
 }
.percent4 {
	top: 370px;
	right: 5.8%;
}
.percent {
	text-align: right;
	position: absolute;
}

.percent1 {
	top: 95px;
	right: 9.3%;
}
.percent {
	text-align: right;
	position: absolute;
}
.percent h5 {
	color: #000000;
	font-size: 17px;
	font-weight: 600;
	margin: 0;
}
.des {
	float: left;
	width: 14%;
	text-align: right;
}
.skill {
	width: 72%;
	margin: 7px 0 0 0;
	height: 12px;
	background: #DAE5EB;
	float: right;
}
.des p {
	color: #000000;
	font-size: 20px;
	font-weight: 400;
}
.skill > div {
	height: 100%;
	display: block;
	background-color: #3498DB;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row:after, .clearfix:after {
	clear: both;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row, .clearfix {
	zoom: 1;
}