header{
	width: 100%;
	height: 0.89rem;
	background: #007BE3;
	position: fixed;
	top: 0;
	left: 0;
}
.header-box{
	width: 2.27rem;
	height: 0.68rem;
	margin: 0 auto;
	padding-top: 0.16rem;
}
.header-box .logo{
	width: 0.7rem;
	height: 0.67rem;
	background: url('../img/logo.png') center center no-repeat;
	float: left;
	background-size: 0.7rem;
}
.header-box h3{
	font-size: 0.36rem;
	color: #fff;
	line-height: 0.68rem;
	float: left;
	margin-left: 0.16rem;
}
.banner{
	width: 100%;
	height: 4.21rem;
	background: url('../img/banner_02.png') center center no-repeat;
	background-size: cover;
}
.content{
	width: 100%;
	height: 4.84rem;
	
	padding: 0.28rem 0.2rem 0;
	/* background: cyan; */
}
.content ul{
	display: flex;
	flex-wrap: nowrap;
	
	width: 100%;
	height: 1.96rem;
	justify-content: space-between;
	/* background: red; */
}
.content ul.bottom{
	margin-top: 0.32rem;
}
.content ul li{
	width: 1.55rem;
	height: 100%;
	/* background: yellow; */
	float: left;
    text-align: center;
    font-size: 0.24rem;
}
.content .top a{
	display: block;
	width: 100%;
	height: 1.56rem;
	border-radius: 0.25rem;
	background-color: #fff;
	margin-bottom: 0.16rem;
	padding-top: 0.25rem;
	padding-left: 0.25rem;

}
.content .bottom a{
	display: block;
	width: 100%;
	height: 1.56rem;
	border-radius: 0.25rem;
	background-color: #fff;
	margin-bottom: 0.16rem;
	padding-top: 0.25rem;
	padding-left: 0.25rem;

}
.content ul li a div.li-1{
	background: #fff url('../img/shouye6.png') 0 0 no-repeat; 
	background-size: 2rem;
	width: 1.05rem;
	height: 1.05rem;
}
.content ul li a div.li-2{
	background: #fff url('../img/shouye6.png') -0.98rem 0 no-repeat; 
	background-size: 2rem;
	width: 1.05rem;
	height: 1.05rem;
}
.content ul li a div.li-3{
	background: #fff url('../img/shouye6.png') 0.15rem -1.1rem no-repeat; 
	background-size: 2rem;
	width: 1.05rem;
	height: 1.05rem;
}
.content ul li a div.li-4{
	background: #fff url('../img/ufo.png')  no-repeat; 
	background-size: 100%;
	width: 1.05rem;
	height: 1.05rem;
}
.content ul li a div.li-5{
	background: #fff url('../img/shouye6.png') -0.98rem -1.1rem no-repeat; 
	background-size: 2rem;
	width: 1.05rem;
	height: 1.05rem;
}
.content ul li a div.li-6{
	background: #fff url('../img/shouye6.png') 0rem -3.3rem no-repeat; 
	background-size: 2rem;
	width: 1.05rem;
	height: 1.05rem;
}
.content ul li a div.li-7{
	background: #fff url('../img/shouye6.png') 0.1rem -2.2rem no-repeat; 
	background-size: 2rem;
	width: 1.05rem;
	height: 1.05rem;
}
.content ul li a div.li-8{
	background: #fff url('../img/shouye6.png') -0.98rem -2.2rem no-repeat; 
	background-size: 2rem;
	width: 1.05rem;
	height: 1.05rem;
}
/* 服务体系开始 */
.server{
	width: 100%;
	height: 4.25rem;
	margin-bottom: 0.9rem;

}
.server .title{
	width: 100%;
	height: 0.63rem;
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
	line-height: 0.63rem;
	font-size: 0.24rem;
	color: #1378ba;
}
.col-1{
	width: 100%;
	height: 2.18rem;
	border-bottom: 1px solid #e8e8e8;
}
.server ul.col-1 li{
	float: left;
	width: 50%;
	height: 100%;
	border-right: 1px solid #e8e8e8;
	padding: 0.38rem 0 0.48rem 0.16rem;
}
.server ul.col-1 li .left{
	width: 1.8rem;
	float: left;
	height: 100%;
}
.server ul.col-1 li .left h2{
	font-size: 0.24rem;
	font-weight: normal;
	color: #000;
}
.server ul.col-1 li .left h3{
	font-size: 0.18rem;
	font-weight: normal;
	color: #999;
}
.server ul.col-1 li .right{
	width: 1.5rem;
	height: 100%;
	float: left;
	background: #fff url('../img/shouye6.png') 0 -4.4rem no-repeat;
	background-size: 2rem;
}
.server ul.col-1 li .right1{
	width: 1.5rem;
	height: 100%;
	float: left;
	background: #fff url('../img/shouye6.png') 0 -5.9rem no-repeat;
	background-size: 2rem;
}
.server ul.col-2{
	width: 100%;
	height: 1.38rem;
	border-bottom: 1px solid #e8e8e8;
}
.server ul.col-2 li{
	float: left;
	width: 33.33%;
	height: 100%;
	border-right: 1px solid #e8e8e8;
	padding: 0.4rem 0 0.38rem 0.2rem;
}
.server ul.col-2 li .left{
	width: 0.6rem;
	height: 100%;
	float: left;
	background: #fff url('../img/shouye_01.png') center center no-repeat;
	background-size: cover;
}
.server ul.col-2 li .left1{
	width: 0.6rem;
	height: 100%;
	float: left;
	background: #fff url('../img/shouye_02.png') center center no-repeat;
	background-size: cover;
}
.server ul.col-2 li .left2{
	width: 0.6rem;
	height: 100%;
	float: left;
	background: #fff url('../img/shouye_03.png') center center no-repeat;
	background-size: cover;
}
.server ul.col-2 li .right{
	width: 1.5rem;
	margin-left: 0.1rem;
	float: left;
	height: 100%;
}
.server ul.col-2 li .right h2{
	font-size: 0.24rem;
	color: #000;
	font-weight: normal;
}
.server ul.col-2 li .right h3{
	font-size: 0.18rem;
	color: #999;
	font-weight: normal;
	line-height: 0.3rem;
}
/* 服务体系结束 */
.contact{
	width: 100%;
	height: 0.9rem;
	background-color: #fff;
	margin-top: 0.2rem;
	position: fixed;
	left: 0;
	bottom: 0;
	box-shadow: 0 0 0.08rem rgba(0, 0, 0, 0.1);
	z-index: 999;
}
.contact .contact-list{
	width: 100%;
	height: 100%;
	background: #e7e7e7;
}
.contact .contact-list .part1{
	width:30%;
	height: 0.8rem;
	font-size: 0.24rem;
	color: #000;
	text-align: left;
	line-height: 0.9rem;
	background: #e7e7e7;
	float: left;
}
.contact  div.part1 i{
	background: url('../img/qq.png') 0 0 no-repeat;
	background-size: 100%;
	width: 0.32rem;
	height: 0.32rem;
	float: left;
	line-height: 0.9rem;
	margin-top: 0.28rem;
	margin-left: 0.27rem;
}
.contact div.part2{
	width: 40%;
	height: 0.9rem;
	box-shadow: 0 0 0.8rem rgba(255,126, 0, 0.1);
	margin-top: -0.1rem;
	float: left;
	z-index: 999;
	background-color: #ff8d12;
	border-radius: 0.08rem;
	color: #fff;
	text-align: center;
	box-shadow: 0 0 0.15rem #ff8d12;
	font-size: 0.24rem;
	line-height: 0.9rem;

}
.contact .part2 i{
	width: 0.36rem;
	height: 0.36rem;
	background: url('../img/shouye6.png') -1.6rem -4.78rem no-repeat;
	background-size: 2rem;
	display: inline-block;
	line-height: 0.9rem;

	margin-left: 0.7rem;
	float: left;
	margin-top: 0.25rem;
}
.contact .part2 span{
	margin-left: 0.1rem;
	float: left;
	font-size: 0.3rem;
	font-weight: bold;
}
.contact .part3{
	width: 30%;
	height: 0.8rem;
	float: left;
	text-align: left;
	font-size: 0.24rem;
	color: #000;
	line-height: 0.9rem;
	background: #e7e7e7;
}
.contact .part3 i{
	width: 0.36rem;
	height: 0.36rem;
	background: url('../img/shouye6.png') -1.6rem -5.3rem no-repeat;
	background-size: 2rem;
	margin-left: 0.42rem;
	float: left;
	line-height: 0.9rem;
	margin-top: 0.28rem;
}
.contact .part3 span{
	float: left;
	margin-left: 0.1rem;
}