header{
	width: 100%;
	height: 0.89rem;
	/* background: rgba(0, 123, 227, 0.4); */
	background: #007BE3;
	position: fixed;
	top: 0;
	z-index: 999;
}
nav{
	width: 100%;
	height: 100%;

}
header ul{
	width: 100%;
	height: 100%;
	overflow: hidden;

}
header ul li{
	width: 20%;
	height: 100%;
	font-size: 0.32rem;
	border-bottom: 0.04rem;
	float: left;
	text-align: center;
	line-height: 1rem;

}
header a{
	color: #fff;
}
.banner{
	width: 100%;
	height: 5rem;
	background: url('../img/uibanner.png') center center no-repeat;
	overflow: hidden;
}
.banner2{
	width: 100%;
	height: 100%;
	background: url('../img/uibanners.png') center center no-repeat;
	background-size: 100%;
}
.server{
	width: 100%;
	height: 6.9rem;
	/* background: lightgreen; */
	margin-top: 0.4rem;
}
.server-main{
	width: 7.02rem;
	height: 100%;
	margin: 0 auto;
	/* background: cyan; */
}
.server-title{
	width: 100%;
	height: 0.9rem;
	margin-bottom: 0.4rem;
}
.server .server-main h2{
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.4rem;
	font-size: 0.36rem;
	color: #333;

}
.server .server-main h2 span{
	font-weight: 400;
}
.server .server-main .fenge{
	width: 2.7rem;
	height: 0.1rem;
	margin: 0 auto;
	background: url('../img/ui1lines.png') center center no-repeat;
	background-size: 100%;
}
.server .server-main h2:last-child{
	font-size: 0.3rem;
	line-height: 0.3rem;
}
.server .server-content{
	width: 6.8rem;
	height: 5.4rem;
	margin: 0.2rem auto;
}
.server-content ul{
	width: 100%;
	height: 100%;
}
.server-content ul li{
	width: 2.1rem;
	height: 2.5rem;
	float: left;
	overflow: hidden;
	margin-right: 0.2rem;
}
.server-content ul li:nth-child(3){
	margin-right: 0;
}
.server-content ul li:nth-child(4){
	margin-right: 0.2rem;
	margin-top: 0.2rem;
}
.server-content ul li:nth-child(5){
	margin-right: 0.2rem;
	margin-top: 0.2rem;
}
.server-content ul li:nth-child(6){
	margin-right: 0;
	margin-top: 0.2rem;
}
.server-title1{
	background: url('../img/fwtx1.png')center center no-repeat;
	color: #fff;
	font-size: 0.28rem;
	line-height: 1.1rem;
	font-weight: 600;
	padding-left: 0.8rem;
	background-size: 100%;
}
.server-content li p{
	width: 2.1rem;
	height: 1.4rem;
	color: #333;
	font-size: 0.26rem;
	line-height: 0.32rem;
	text-align: center;
	padding-top: 0.2rem;
	border: 1px dashed #f2a111;
}
.server-title2{
	background: url('../img/fwtx2.png')center center no-repeat;
	color: #fff;
	font-size: 0.28rem;
	line-height: 1.1rem;
	font-weight: 600;
	padding-left: 0.8rem;
	background-size: 100%;
}
.server-content li:nth-child(2) p{
	border: 1px dashed #2f90da;
}
.server-title3{
	background: url('../img/fwtx3.png')center center no-repeat;
	color: #fff;
	font-size: 0.28rem;
	line-height: 1.1rem;
	font-weight: 600;
	padding-left: 0.8rem;
	background-size: 100%;
}
.server-content li:nth-child(3) p{
	border: 1px dashed #f87844;
}
.server-title4{
	background: url('../img/fwtx4.png')center center no-repeat;
	color: #fff;
	font-size: 0.28rem;
	line-height: 1.1rem;
	font-weight: 600;
	padding-left: 0.8rem;
	background-size: 100%;
}
.server-content li:nth-child(4) p{
	border: 1px dashed #1bbf99;
}
.server-title5{
	background: url('../img/fwtx5.png')center center no-repeat;
	color: #fff;
	font-size: 0.28rem;
	line-height: 1.1rem;
	font-weight: 600;
	padding-left: 0.8rem;
	background-size: 100%;
}
.server-content li:nth-child(5) p{
	border: 1px dashed #f8ce68;
}
.server-title6{
	background: url('../img/fwtx6.png')center center no-repeat;
	color: #fff;
	font-size: 0.28rem;
	line-height: 1.1rem;
	font-weight: 600;
	padding-left: 0.8rem;
	background-size: 100%;
}
.server-content li:nth-child(6) p{
	border: 1px dashed #c16bbb;
}
.jianjie{
	width: 100%;
	/* height: 7.6rem; */
	overflow: hidden;
}
.jianjie-title{
	width: 100%;
	height: 1.3rem;
	margin: 0 auto;
	padding: 0.4rem 0;
	background: url('../img/uititle1.png') center center no-repeat;
	background-size: 100%;

}
.jianjie h2{
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.4rem;
	font-size: 0.36rem;
	color: #fff;
}
.jianjie h2 span{
	font-weight: 400;
}
.jianjie .fenge{
	background: url('../img/ui2lines.png') center center no-repeat;
	background-size: 100%;
	width: 2.7rem;
	height: 0.1rem;
	margin: 0 auto;
}
.jianjie h2:last-child{
	font-size: 0.3rem;
	line-height: 0.3rem;
	font-weight: 400;
}
.jianjie-content{
	width: 7.02rem;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 0.5rem;
}
.jianjie-content-main{
	width: 7.02rem;
	height: 3.15rem;
	border: 1px dashed #030000;
	background: #f5f5f5;
	margin: 0 auto;
	overflow: hidden;
}
.jianjie-content-main p{
	width: 100%;
	height: auto;
	text-align: center;
	line-height: 0.36rem;
	color: #333;
	font-size: 0.26rem;
	margin-top: 0.1rem;
}
.jianjie-content-main p:first-child{
	margin-bottom: 0.1rem;
}
.jianjie-content-main p span{
	color: #00a8ff;
	font-weight: 600;
}
.jianjie-xia{
	width: 100%;
	height: 3.74rem;
	background: url('../img/ui11s.png') center center no-repeat;
	background-size: 100%;
}
.jiuye{
	width: 100%;
	height: 13.7rem;
	margin-top: -1.3rem;
	position: relative;
}
.jiuye-title{
	width: 100%;
	height: 1.3rem;
	margin: 0 auto;
	padding: 0.4rem 0;
	background: url('../img/uititle2.png') center center no-repeat;
	background-size: 100%;
	z-index: 999;
	position: relative;
}
.jiuye .jiuye-title h2{
	color: #fff;
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.4rem;
	font-size: 0.36rem;
}
.jiuye .jiuye-title .fenge{
	width: 2.7rem;
	height: 0.1rem;
	margin: 0 auto;
	background: url('../img/ui2lines.png') center center no-repeat;
	background-size: 100%;
}
.jiuye .jiuye-title h2:last-child{
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.3rem;
	color: #fff;
	font-size: 0.3rem;
}
.jiuye .jiuye-title h2 span{
	font-weight: 400;
}
.jiuye .jiuye-content{
	width: 100%;
	height: 12.4rem;
	background: #1B1D32;
	margin-top: -0.4rem;
	padding-top: 0.4rem;

}
.jiuye-content-title{
	width: 2.46rem;
	height: 0.8rem;
	margin: 0 auto;
	padding: 0.2rem 0;
	line-height: 0.4rem;
	font-size: 0.3rem;
	border-bottom: 1px dashed #fff;
	color: #f5f5f5;
	text-align: center;
	position: relative;
}
.jiuye-content-title-fenge{
	width: 100%;
	height: 1px;
	background: #fff;
	margin: 0 auto;
	position: absolute;
	left: 0 ;
	bottom: 0.1rem;
	margin: auto;
}
.jiuye-content-main{
	width: 7.02rem;
	height: 4.17rem;
	margin: 0 auto;
	background: url('../img/bfb.png') center center no-repeat;
	background-size: 100%;
	margin-top: 0.25rem;
	position: relative;
}
.jiuye-content-main .bfb1{
	width: 0.82rem;
	height: 0.32rem;
	position: absolute;
	left: 1.1rem;
	top: 0.48rem;
	background: #FFF100;
}
.jiuye-content-main .bfb2{
	width: 1.3rem;
	height: 0.32rem;
	position: absolute;
	left: 1.1rem;
	top: 1.1rem;
	background: #1DFFBD;
}
.jiuye-content-main .bfb3{
	width: 4.8rem;
	height: 0.32rem;
	position: absolute;
	left: 1.1rem;
	top: 1.71rem;
	background: #0C51FF;
}
.jiuye-content-main .bfb4{
	width: 2.76rem;
	height: 0.32rem;
	position: absolute;
	left: 1.1rem;
	top: 2.30rem;
	background: #00A8FF;
}
.jiuye-content-main .bfb5{
	width: 0.92rem;
	height: 0.32rem;
	position: absolute;
	left: 1.1rem;
	top: 2.96rem;
	background: #1BEFE8;
}
.jiuye-detil{
	width: 7.02rem;
	height: 4.8rem;
	/* margin: 0 auto;
	margin-top: 0.3rem; */
	position: absolute;
	left: 0 ;
	right: 0;
	top: 6.92rem;
	margin: auto;
}
.jiuye-detil ul.ul1{
	width: 3.41rem;
	height: 100%;
	float: left;
}
.jiuye-detil ul.ul2{
	width: 3.41rem;
	height: 100%;
	float: right;
}
.jiuye-detil ul li{
	width: 100%;
	height: 2.21rem;
	margin-top: 0.19rem;
	padding-top: 0.14rem;
	background: url('../img/ui2back.png') center center no-repeat;
	background-size: 100%;
}
.jiuye-detil ul li p{
	font-size: 0.24rem;
	line-height: 0.4rem;
	text-align: center;
	color: #fff;
	width: 100%;
	height: 1.67rem;
	overflow: hidden;
	margin-top: 0;
}
.jiuye-detil ul li span{
	display: block;
	width: 100%;
	font-size: 0.3rem;
	line-height: 0.3rem;
	text-align: center;
	color: #fff;
}
.jiuye .button{
	width: 2.99rem;
	height: 0.8rem;
	
	background: url('../img/btn.png') center center no-repeat;
	background-size: 100%;
	color: #fff;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.28rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 12.1rem;
	margin: auto;
}
.student{
	width: 100%;
	overflow: hidden;
	margin-top: -0.64rem;
}
.student-title{
	width: 100%;
	height: 1.3rem;
	background: url('../img/uititle1.png') center center no-repeat;
	background-size: 100%;
	position: relative;
	z-index: 999;
	padding: 0.36rem 0;
}
.student .student-title h2{
	color: #fff;
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.4rem;
	font-size: 0.36rem;
}
.student .student-title .fenge{
	width: 2.7rem;
	height: 0.1rem;
	margin: 0 auto;
	background: url('../img/ui2lines.png') center center no-repeat;
	background-size: 100%;
}
.student .student-title h2:last-child{
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.3rem;
	color: #fff;
	font-size: 0.3rem;
}
.student .student-title h2 span{
	font-weight: 400;
}
.student-content{
	width: 7.02rem;
	overflow: hidden;
	margin: 0 auto;
	
}
.student-content-main{
	width: 100%;
	overflow: hidden;
	margin-top: 0.4rem;
}
.student-content .title-name{
	width: 100%;
	height: 0.6rem;
}
.title-name p{
	color: #fff;
	font-size: 0.26rem;
	line-height: 0.6rem;
	height: 0.6rem;
	border-radius: 0.1rem 0.1rem 0 0;
	background: #40abfd;
	float: left;
	overflow: hidden;
	text-align: center;
	width: 1.3rem;
}
.title-name p:nth-child(3){
	width: 3.92rem;
	background: #118ded;
}
.title-name p:nth-child(2){
	width: 1.8rem;
	background: #219eff;
}
.student-xinzi{
	width: 100%;
	height: 3.5rem;
	border-left: 1px solid #5C9CFD;
	border-right: 1px solid #5C9CFD;
	border-bottom: 1px solid #5C9CFD;

}
.student-xinzi ul{
	width: 100%;
	height: auto;
}
.student-xinzi ul li{
	width: 100%;
	height: 0.7rem;
	background: rgb(238, 238, 238);

}
.student-xinzi ul li:nth-child(2){
	background: #F5F6FA;
}
.student-xinzi ul li:nth-child(4){
	background: #F5F6FA;
}
.student-xinzi ul li:nth-child(5){
	border-bottom: 1px solid #5c9cfd;
}
.student-xinzi ul li p{
	height: 0.7rem;
	float: left;
	font-size: 0.26rem;
	color: #666;
	line-height: 0.7rem;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
.student-xinzi ul li p:nth-child(1){
	width: 1.3rem;
}
.student-xinzi ul li p:nth-child(2){
	width: 1.8rem;
	color: #feaf34;
}
.student-xinzi ul li p:nth-child(3){
	width: 3.88rem;
}
.student .button{
	width: 2.99rem;
	height: 0.8rem;
	
	
	margin: 0 auto;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	background: url('../img/btn.png') center center no-repeat;
	background-size: 100%;
	color: #fff;
	font-size: 0.28rem;
	text-align: center;
	line-height: 0.8rem;

}
.kecheng{
	width: 100%;
	overflow: hidden;
	background: #F2F3F7;
}
.kecheng-title{
	width: 100%;
	height: 1.3rem;
	background: url('../img/uititle3.png') center center no-repeat;
	background-size: 100%;
	position: relative;
	z-index: 999;
	padding: 0.36rem 0;
}
.kecheng .kecheng-title h2{
	color: #fff;
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.4rem;
	font-size: 0.36rem;
}
.kecheng .kecheng-title .fenge{
	width: 2.7rem;
	height: 0.1rem;
	margin: 0 auto;
	background: url('../img/ui2lines.png') center center no-repeat;
	background-size: 100%;
}
.kecheng .kecheng-title h2:last-child{
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.3rem;
	color: #fff;
	font-size: 0.3rem;
}
.kecheng .kecheng-title h2 span{
	font-weight: 400;
}
.kecheng .kecheng-content{
	width: 7.02rem;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 0.5rem;
	margin-top: 0.3rem;
}
.kecheng-content ul{
	width: 100%;
	height: auto;
}
.kecheng-content ul li{
	width: 100%;
	height: auto;
	background: #fff;
	border-top: 2px solid #f88c00;
	margin-top: 0.4rem;
}
.kecheng-content ul li span{
	display: block;
	width: 100%;
	height: auto;
	font-size: 0.3rem;
	color: #333;
	padding: 0.1rem 0.2rem;
	margin-top: 0.2rem;
	line-height: 0.32rem;
}
.kecheng-content ul li p{
	width: 100%;
	height: auto;
	padding: 0.2rem;
	overflow: hidden;
	margin-top: 0.1rem;
	border-top: 1px dashed #a0a0a0;
	font-size: 0.26rem;
	line-height: 0.36rem;
	text-align: justify;
	color: #666;
	letter-spacing: 1px;
}
.kecheng-content ul li:nth-child(2){
	border-top: 2px solid #32AFFF;
}
.kecheng-content ul li:nth-child(3){
	border-top: 2px solid #EC707E;
}
.kecheng-content ul li:nth-child(4){
	border-top: 2px solid #40B753;
}
.kecheng-content ul li:nth-child(5){
	border-top: 2px solid #EA61D5;
}
.kecheng-content ul li:nth-child(6){
	border-top: 2px solid #16E5E3;
}
.design{
	width: 100%;
	height: auto;
	background: #F5F6FA;
}
.design-title{
	width: 100%;
	height: 1.3rem;
	background: url('../img/uititle2.png') center center no-repeat;
	background-size: 100%;
	position: relative;
	z-index: 999;
	padding: 0.36rem 0;
}
.design .design-title h2{
	color: #fff;
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.4rem;
	font-size: 0.36rem;
}
.design .design-title .fenge{
	width: 2.7rem;
	height: 0.1rem;
	margin: 0 auto;
	background: url('../img/ui2lines.png') center center no-repeat;
	background-size: 100%;
}
.design .design-title h2:last-child{
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.3rem;
	color: #fff;
	font-size: 0.3rem;
}
.design .design-title h2 span{
	font-weight: 400;
}
.design-content{
	width: 7.02rem;
	height: auto;
	margin: 0 auto;

	margin-top: 0.5rem;
}
.design-content ul{
	width: 100%;
	height: 2.63rem;
	overflow: hidden;
	margin-top: 0.1rem;
}
.design-content ul li.tu1{
	background: url('../img/ui51.png') center center no-repeat;
	background-size: 100%;
	width: 3.46rem;
	margin-right: 0.1rem;
	height: 2.63rem;
	overflow: hidden;
	float: left;
}
.design-content ul li.tu2{
	background: url('../img/ui52.png') center center no-repeat;
	background-size: 100%;
	width: 3.46rem;
	
	height: 2.63rem;
	overflow: hidden;
	float: left;
}
.design-content ul li.tu3{
	background: url('../img/ui53.png') center center no-repeat;
	background-size: 100%;
	width: 7.02rem;
	
	height: 2.63rem;
	overflow: hidden;
	float: left;
}
.design-content ul li.tu4{
	background: url('../img/ui54.png') center center no-repeat;
	background-size: 100%;
	width: 3.46rem;
	margin-right: 0.1rem;
	height: 2.63rem;
	overflow: hidden;
	float: left;
}
.design-content ul li.tu5{
	background: url('../img/ui55.png') center center no-repeat;
	background-size: 100%;
	width: 3.46rem;
	
	height: 2.63rem;
	overflow: hidden;
	float: left;
}
.phone{
	width: 100%;
	overflow: hidden;
	background: #F5F6FA;
}
.phone-title{
	
	margin-top: 0.5rem;
	width: 100%;
	height: 1.3rem;
	background: url('../img/uititle1.png') center center no-repeat;
	background-size: 100%;
	position: relative;
	z-index: 999;
	padding: 0.36rem 0;
}
.phone .phone-title h2{
	color: #fff;
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.4rem;
	font-size: 0.36rem;
}
.phone .phone-title .fenge{
	width: 2.7rem;
	height: 0.1rem;
	margin: 0 auto;
	background: url('../img/ui2lines.png') center center no-repeat;
	background-size: 100%;
}
.phone .phone-title h2:last-child{
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.3rem;
	color: #fff;
	font-size: 0.3rem;
}
.phone .phone-title h2 span{
	font-weight: 400;
}

.phone-content-title{
	width: 100%;
	height: auto;
}
.phone-content-title p{
	width: 7.02rem;
	margin: 0 auto;
	height: 0.85rem;
	font-size: 0.28rem;
	color: #333;
	text-align: center;
	line-height: 0.85rem;
	font-weight: 600;
}
.phone-content{
	width: 100%;
	height: auto;
	padding: 0 0.7rem 0;
}
.phone-content form{
	width: 100%;
	height: auto;
}
.phone-conter table{
	width: 100%;
	height: 100%;
	font-size: 0.24rem;
}
table tr{
	width: 100%;
	height: 0.6rem;
	color: #333;
	font-size: 0.3rem;
}
table tr th span{
	color: red;
}
table tr th{
	width: 1.2rem;
	height: 0.6rem;
	display: block;line-height: 0.6rem;
	float: left;
	margin-top: 0.4rem;
}
table tr td{
	float: left;
	color: #333;
	font-size: 0.3rem;
	width: 4.2rem;
	line-height: 0.6rem;
	padding-left: 0.1rem;
}
table tr td .input-text{
	outline: none;
	float: left;
	color: #333;
	font-size: 0.3rem;
	background: url('../img/input.png') center center no-repeat;
	background-size: 100%;
	width: 4.0rem;
	height: 0.6rem;
	line-height: 0.6rem;
	margin-top: 0.4rem;
	border: 0;
	padding: 0.04rem 0 0.04rem 0.4rem;
}
table tr td select{
	float: left;
	color: #333;
	font-size: 0.3rem;
	background: url('../img/input.png') center center no-repeat;
	background-size: 100%;
	width: 4.0rem;
	height: 0.6rem;
	margin-top: 0.4rem;
	padding: 0.04rem 0 0.04rem 0.4rem;
	border: 0;
}
table tr:last-child td{
	width: 5.48rem;
	height: 0.8rem;
	margin-top: 0.4rem;
}
table tr td .submit{
	margin: 0 auto;
	width: 2.99rem;
	height: 0.8rem;
}
table tr td .submit input{
	display: block;
	width: 2.99rem;
	height: 0.8rem;
	color: #fff;
	background: url('../img/btn.png') center center no-repeat;
	background-size: 100%;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.3rem;
	border: 0;
}
.banquan{
	width: 100%;
	height: 2.1rem;
	font-size: 0.3rem;
	background: #F5F6FA;

}
.banquan p{
	text-align: center;
	font-size: 0.2rem;
	color: #666;
	padding-top: 0.18rem;
}
.contact{
	width: 100%;
	height: 0.9rem;
	background-color: #fff;
	margin-top: 0.2rem;
	position: fixed;
	left: 0;
	bottom: 0;
	box-shadow: 0 0 0.08rem rgba(0, 0, 0, 0.1);
	z-index: 999;
}
.contact .contact-list{
	width: 100%;
	height: 100%;
	background: #e7e7e7;
}
.contact .contact-list .part1{
	width:30%;
	height: 0.8rem;
	font-size: 0.24rem;
	color: #000;
	text-align: left;
	line-height: 0.9rem;
	background: #e7e7e7;
	float: left;
}
.contact  div.part1 i{
	background: url('../img/qq.png') 0 0 no-repeat;
	background-size: 100%;
	width: 0.32rem;
	height: 0.32rem;
	float: left;
	line-height: 0.9rem;
	margin-top: 0.28rem;
	margin-left: 0.27rem;
}
.contact div.part2{
	width: 40%;
	height: 0.9rem;
	box-shadow: 0 0 0.8rem rgba(255,126, 0, 0.1);
	margin-top: -0.1rem;
	float: left;
	z-index: 999;
	background-color: #ff8d12;
	border-radius: 0.08rem;
	color: #fff;
	text-align: center;
	box-shadow: 0 0 0.15rem #ff8d12;
	font-size: 0.24rem;
	line-height: 0.9rem;

}
.contact .part2 i{
	width: 0.36rem;
	height: 0.36rem;
	background: url('../img/shouye6.png') -1.6rem -4.78rem no-repeat;
	background-size: 2rem;
	display: inline-block;
	line-height: 0.9rem;

	margin-left: 0.7rem;
	float: left;
	margin-top: 0.25rem;
}
.contact .part2 span{
	margin-left: 0.1rem;
	float: left;
	font-size: 0.3rem;
	font-weight: bold;
}
.contact .part3{
	width: 30%;
	height: 0.8rem;
	float: left;
	text-align: left;
	font-size: 0.24rem;
	color: #000;
	line-height: 0.9rem;
	background: #e7e7e7;
}
.contact .part3 i{
	width: 0.36rem;
	height: 0.36rem;
	background: url('../img/shouye6.png') -1.6rem -5.3rem no-repeat;
	background-size: 2rem;
	margin-left: 0.42rem;
	float: left;
	line-height: 0.9rem;
	margin-top: 0.28rem;
}
.contact .part3 span{
	float: left;
	margin-left: 0.1rem;
}