.top{
	width:100%;
	height:154px;
	margin:0 auto;
	background:url('../img/wek.jpg') no-repeat center center #22003a;
}
.top1{
	width:1200px;
	height:154px;
	margin:0 auto;
	position: relative; 
}
.top2{
    position: absolute;
    left:15px ;
    top:40px;
    margin:auto; 
}
.top3{
	padding-left:64px;
	position: absolute;
	width:189px;
	height:52px; 
	right: 0;
	top: 54px;
	margin:auto;
	background:url('../img/tel.png') no-repeat left top;
}
.top3 .p1{
    color:rgb(255, 255, 255);
    font-weight: 800;
    font-size: 16px;
    font-family: 微软雅黑;
}
.top3 .p2{
	color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 微软雅黑;
}
nav{
	width:100%;
	height:70px;
	margin:0 auto;
	background: url('../img/nav.jpg') repeat-x;
}
.nav1{
	width:1200px;
	height:70px;
	margin:0 auto;
	background:url('../img/nav1.jpg')no-repeat center center;
}
.nav1 ul {
	width:100%;
	height:100%;
}
.nav1 ul li{
    width:134px;
    height:70px;
    line-height:70px;
    text-align:center;
    margin-left:5px; 
    float:left;
    color: #fff;
    font-size: 18px;
    font-family: 微软雅黑;
}
.swiper-container {
    width: 100%;
    height:374px;
} 
.swiper-container img{
	width:100%;
    height:374px;
}
.con{
	width: 100%;
	height:auto;
	margin:0 auto;
	background: url('../img/bg.png')no-repeat top center ;
	padding-top:1px;
    position: relative;
    z-index:2;
    background: #25052e;
}
.con1{
	width: 1262px;
	height: 445px;
	margin: 0 auto;
	margin-top:-45px;
	position: relative;
	background:url('../img/con1.png')no-repeat top center;
}
.hot{
	width: 1197px;
	height: 48px;
	margin:0 auto;
	padding-top: 80px;
	padding-left: 65px;
	font-size: 20px;
	color:#fff;
	font-family: 微软雅黑;
	line-height: 32px;

}
.hot span{
	padding: 2px 6px;
	background: #0c8dcd;
	font-size: 16px;
}
.scroll-img{
	width: 1132px;
	height: 320px;
	overflow:hidden;
	margin: 0 auto;
}
.scroll-img ul {
	width: 1132px;
	height:auto;
    overflow:hidden;
}
.scroll-img ul li{
	display: inline-block;
	margin: 0px 19px 0px 2px;
	position: relative;
}
.scroll-img ul li img{
   width: 347px;
   height: 258px;
   border: 5px solid #fff;
}
.scroll-img ul li p{
	font-family: 微软雅黑;
	color: #f8f8f8;
    line-height: 45px;
    font-size: 16px;
    padding-left: 5px;
}


/* 展示区 */
.about-con{
	width: 100%;
    height: 722px;
    background: url('../img/jieshao/bg.png') no-repeat top center #25052e;
    padding-top: 1px;
    position: relative;
    z-index: 2;
}

.main-con{
	width: 1349px;
	height: 770px;
	background:url('../img/jieshao/main_bot.png') no-repeat center bottom;
}
.about-con1{
	width: 1200px;
    margin: 0 auto;
    margin-top: -45px;
    min-height: 113px;
    position: relative;
    background: url('../img/jieshao/about_bg.png') no-repeat top center;
}
.about-con2{
	width: 1107px;
    color: #ffffff;
    font-size: 14px;
    margin: 0 auto;
    padding-left: 25px;
    background: url('../img/jieshao/fz.png') no-repeat;
}
.about-con2 a {
    color: #ffffff;
    font-size: 14px;
    font-family: 微软雅黑;
}
.clear{
	clear: both;
}
.about-qyjj{
    width: 1132px;
    margin: 0 auto;
    padding: 0px 34px;
    position: relative;
    height: 56px;
    background: url('../img/jieshao/wej.png') no-repeat center center #650c7a;
    text-align: center;
}
.tit {
	font-family: 微软雅黑;
    font-size: 20px;
    color: #f8f8f8;
}
/*可编辑区开始  */
.about-type{
	width: 1200px;
    margin: 0 auto;
    height: 100px;
    background: #650c7a;
    text-align: center;
}
.about-type ul li {
    padding: 0px 28px;
    color: #3f084d;
    font-size: 16px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    margin-right: 21px;
    background: #e8b2f9;
}
.about-type ul li a {
    color: #3f084d;
}
.service-content{
     height: 502px;
    width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
    background: #650c7a;
}
.service-left{
    margin-left:50px;
    color: #e8b2f9;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
}
/* 底部开始 */
.footer{
	padding-top: 1px;
    height: 155px;
    z-index: 2;
    background: url('../img/bot_bg.png') no-repeat center center #230039;
}
.foo{
	width: 1200px;
    margin: -43px auto 0;
    position: relative;
    height: 197px;
    z-index: 2;
    background: url('../img/glt.png') no-repeat top center;
}
.bot-con{
	position: absolute;
    width: 1200px;
    height: 155px;
    top: 43px;
}
.erweima{
	float: left;
    width: 102px;
    height: 102px;
    padding-left: 22px;
}
.bot{
	padding-left: 12px;
    width: 785px;
    float: left;
}
table tr span {
	color:#FFFFFF;
	line-height:2;
	font-size:12px;

}
table tr p span{
	color:#FFFFFF;
	line-height:2;
	font-size:12px;
}
.bot-right{
	height: 24px;
	float: right;
    width: 277px;
}
.icon-medium{
	width:100%;
	height: 100%;
    font-size: 14px;
    line-height: 20px;
}
.icon-medium a{
	width: 24px;
	height: 24px;
}
.icon-medium .bshare-qzone {
    background: url('../img/top_logos_sprite.gif') no-repeat 0 -338px;
    display: inline-block;
}
 .icon-medium .bshare-qqmb {
    background:url('../img/top_logos_sprite.gif') no-repeat 0 -286px;
    display: inline-block;
}
.icon-medium .bshare-weixin {
    background:url('../img/top_logos_sprite.gif') no-repeat;
    display: inline-block;
}
.icon-medium .bshare-sinaminiblog {
    background: url('../img/top_logos_sprite.gif') no-repeat 0 -390px;
    display: inline-block;
}
.icon-medium .bshare-renren {
    background: url('../img/top_logos_sprite.gif') no-repeat 0 -364px;
    display: inline-block;
}
.icon-medium .bshare-neteasemb {
    background: url('../img/top_logos_sprite.gif') no-repeat 0 -234px;
    display: inline-block;
}
.more-style-addthis {
    background: url('../img/more-style-addthis.gif') no-repeat  center center;
    display: inline-block;
}
.di{
	width:100%;
    background: #25052e;
	height: 25px;
}