/*
* @Author: dell
* @Date:   2017-03-09 14:08:58
* @Last Modified by:   dell
* @Last Modified time: 2017-03-16 19:04:43
*/

.jts{
    display: none;
    z-index:10;
    width:50px;
    height:70px;
    background:rgba(0,0,0,0.5);
    text-align: center;
    line-height: 70px;
    margin:auto;
    position: absolute;
    top:0;
    bottom: 0;
    font-size:25px;
    color:#fff;

}
.jts1{
    left:232px ;
}
.jts2{
    right:0px;
}
header {
    width: 100%;
    background: #333333;
    height: 40px;


}
.sd{
    z-index:-1;
    position:absolute;
    top:0;
    left:0;
    margin: auto;
    width:100%;
    height:201%;
    background:#fff;
}
main {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
    font-size: 13px;
    color: #A0A888;
}

.left {
    height: 40px;
    width: 800px;
}

main div ul li {
    float: left;
    margin-left: 3px;
    margin-right: 6px;
    line-height: 40px;
}

.dh-right {
    float: right;
    width: 200px;
    /*
      margin-right: 0px; */
}

.gou-picture {
    float: right;
    width: 120px;
    height: 40px;
    background-image: url('../Images/g.jpg');
}

.gou-picture:hover {
    float: right;
    width: 120px;
    height: 40px;
    background-image: url('../Images/g2.jpg');

}

.gou-picture span {
    margin-left: 50px;
    line-height: 40px;
    font-size: 12px;
    color: #B0B0B0;
}

.gou-picture:hover span {
    margin-left: 50px;
    line-height: 40px;
    font-size: 12px;
    color: #FF6700;
}

input {
    height: 50px;
    width: 245px;
    color: #877575;
    float: left;
    font-size: 12px;
}

.fd {
    width: 53px;
    height: 52px;
    float: left;
    border: 1px solid #A9A9A9;
    background-image: url('../Images/fd3.jpg')

}

.fd:hover {
    background-repeat: none;
    width: 53px;
    height: 52px;
    float: left;
    background-image: url('../Images/fd4.jpg')

}

.daohang {
    z-index:999;
    position: relative;
    width: 1226px;
    height: 55px;
    /* 自动撑高 */
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 22px;
}
.ddf{

    position:absolute;
    top: 39px;
    left:130px;
    margin:auto;

}
.logo {
    width: 55px;
    height: 55px;
    float: left;
    background: #FF6700 url('../Images/mi-logo (1).png')
}

.daohang-right {
    width: 983px;
    height: 100%;
    /* background:blue; */
    float: right;
}

.liebiao>li {
    position: relative;
    font-size: 14px;
    color: #333;
    margin-right: 20px;
    line-height: 55px;
}
.list{
    transition: all 0.5s;
    overflow: hidden;
    background:#fff;
    position: absolute;
    top:77px;
    z-index:2000;
    width:1226px;
    height:0;
    left:-243px;
    font-size: 12px;
}
.list ul li{
    background:#fff;
    position: relative;
    float: left;
    width: 180.3px;
    height:201px;
    padding: 35px 12px 0;
    text-align: center;
}
.list ul li:before{
    content:"";
    display:block;
    height:120px;
    width:1px;
    position: absolute;
    right:0px;
    background:#ccc;
    top:24px;
}
.sda{
    width: 160px;
    height: 110px;
    margin:0 auto;
    margin-top:18px;
    text-align: center
}

.sda a{
    display: block;
}
.sda img{
    width: 160px;
    height: 110px;
}
.sda-title{
    font-family: 苹方;
    color: #333;
    line-height:20px;
}
.sda-price{
    margin: 0;
    line-height: 20px;
    color: #ff6700;
}
 .flags {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
 .flag {
     line-height:20px;
    display: inline-block;
    height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
}
.liebiao, .liebiao li {

    float: left;
}

.liebiao li a:hover {
    color: red;
}

.liebiao.lie9 {
    margin-right: 50px;
}

.banner {
    border-top:1px solid #ccc;
    z-index:1;
    position: relative;
    height: 460px;
    width: 1226px;
    margin: 0 auto;
}

.banner img {
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    margin: auto;
    width: 1226px;
    height: 460px;
}

.banner aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 234px;
    height: 100%;
    background:rgba(0,0,0,0.6);
    margin: auto;
    z-index: 999;
}

.banner aside ul {
    margin-top: 20px;
}
.banner aside ul li{
    position: relative;
    line-height: 42px;
    padding: 0px 24px;
}
.has_right>span{
    color: #fff;
}
.aside-right{
    z-index: 2000;
    display: none;
    color: #000;
    position: absolute;
    left: 234px;
    top:0;
    margin:auto;
    width:auto;
    height:460px;
    background:#fff;
}
.ssf{
    float: left;
    overflow: hidden;
 }
.aside-right img{
    float: left;
    padding:12px 10px;
    width:40px;
    height: 40px;
}
.ar-list{
    font-size:14px;
    font-family: 苹方;
    width: 228px;
    height: 76px;
}
.ar-list span{
    float: left;
    padding-left:55px;
    line-height: 63px;
    display: inline-block;
}
.hhi{
    color: #ff6700;
    margin:20px;
    float: right;
    text-align: center;
    line-height: 22px;
    width:58px;
    height: 22px;
    border: 1px solid #ff6700;
}
.banner aside .right {
    float: right;
}

.banner aside ul li:hover {
    background: #FF6700;
}
.box {
    position: absolute;
    right: 47px;
    bottom: 31px;
    z-index: 10;
}

.box ul li {

    margin-right: 10px;
    background: #867A6B;
    width: 8px;
    height: 8px;
    float: left;
    border-radius: 50px;
    border: 1px solid #AAA297;
    opacity: 0.5px;

}

.jiantou, .jiantou1 {
    position: absolute;
    bottom: 197px;
    width: 42px;
    height: 70px;
    font-size: 50px;
    color: #fff;
    background: #66635f;
    opacity: 0;
}

.jiantou:hover {
    animation: donghua2 .5s linear forwards;
}

.jiantou1:hover {
    animation: donghua2 .5s linear forwards;
}

@keyframes donghua2 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }

    30% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 0.7;
    }
}

.jiantou {
    left: 234px;
}

.jiantou1 {
    right: 0;
}

.text {
    margin-top: 6px;
    margin-left: 6px;
}

.picture {
    overflow: hidden;
    margin: 0 auto;
    margin-top: 15px;
    width: 1226px;
    margin-bottom: 46px;
}

.picture1 {
    float: left;
    width: 236px;
    height: 171px;

    float: left;
    border-right: 14px solid #fff;
}

.picture1-1 {
    float: left;
    width: 78px;
    height: 85px;
    background-image: url('../Images/e1.jpg');

}

.picture1-1:hover {
    float: left;
    width: 78px;
    height: 85px;
    background-image: url('../Images/x.jpg');

}

.picture1-2 {
    float: left;
    width: 78px;
    height: 85px;
    background-image: url('../Images/e2.jpg');

}

.picture1-2:hover {
    float: left;
    width: 78px;
    height: 85px;
    background-image: url('../Images/q.jpg');

}

.picture1-3 {
    float: left;
    width: 78px;
    height: 85px;
    background-image: url('../Images/e3.jpg');

}

.picture1-3:hover {
    float: left;
    width: 78px;
    height: 85px;
    background-image: url('../Images/y.jpg');

}

.picture1-4 {
    float: left;
    width: 78px;
    height: 85px;
    background-image: url('../Images/e4.jpg');

}

.picture1-4:hover {
    float: left;
    width: 78px;
    height: 85px;
    background-image: url('../Images/m.jpg');

}

.picture1-5 {
    float: left;
    width: 78px;
    height: 85px;
    background-image: url('../Images/e5.jpg');

}

.picture1-5:hover {
    float: left;
    width: 78px;
    height: 85px;
    background-image: url('../Images/u.jpg');

}

.picture1-6 {
    float: left;
    width: 78px;
    height: 85px;
    background-image: url('../Images/e6.jpg');

}

.picture1-6:hover {
    float: left;
    width: 78px;
    height: 85px;
    background-image: url('../Images/h.jpg');

}

.picture2 {
    float: left;
    width: 316px;
    height: 171px;
    background-image: url('../Images/2017-03-09_235254.png');
    border-right: 14px solid #fff;
}

.picture3 {
    float: left;
    width: 316px;
    height: 171px;
    background-image: url('../Images/2017-03-10_000146.png');
    border-right: 14px solid #fff;
}

.picture4 {
    float: left;
    width: 316px;
    height: 171px;
    background-image: url('../Images/2017-03-10_000323.png');
}

.ming-text {
    width: 1226px;
    line-height: 23px;
    font-size: 23px;
    margin-bottom: 20px;
    margin: auto;
    left: 14px;
    /*     margin-bottom: 19px; */

}

.m-yjt {
    background: #fff;
    font-weight: bold;
    text-align: center;
    float: right;
    line-height: 20px;
    float: right;
    height: 20px;
    width: 36px;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 18px;
    cursor: pointer;
    user-select:none;
}

.m-zjt {
    opacity:0.5;
    background: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    float: right;
    height: 20px;
    width: 36px;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 18px;
    cursor: pointer;
    user-select:none;
}

.ming-picture {

    padding-top: 19px;
    width: 1226px;
    height: 341px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom:40px;

}

.lunbokuang {
    transition:all 1s;
    width: 2500px;
    height: 341px;
}

.lunbokuang li {
    margin: to;
    float: left;
    width: 234px;
    height: 341px;
    margin-right: 14px;
}

.ming-picture1 {
    float: left;
    width: 234px;
    height: 341px;
    background-image: url('../Images/1.jpg');

}

.ming-picture2 {
    float: left;
    width: 234px;
    height: 341px;
    background-image: url('../Images/2.jpg');
}

.ming-picture3 {
    float: left;
    width: 234px;
    height: 341px;
    background-image: url('../Images/3.jpg');
}

.ming-picture4 {
    float: left;
    width: 234px;
    height: 341px;
    background-image: url('../Images/4.jpg');
}

.ming-picture5 {
    float: left;
    width: 234px;
    height: 341px;
    background-image: url('../Images/5.jpg');
}

.ming-picture6 {
    float: left;
    width: 234px;
    height: 341px;
    background-image: url('../Images/b2.jpg');
}

.ming-picture7 {
    float: left;
    width: 234px;
    height: 341px;
    background-image: url('../Images/b3.jpg');
}

.ming-picture8 {
    float: left;
    width: 234px;
    height: 341px;
    background-image: url('../Images/b4.jpg');
}

.ming-picture9 {
    float: left;
    width: 234px;
    height: 341px;
    background-image: url('../Images/b5.jpg');
}

.ming-picture10 {
    float: left;
    width: 234px;
    height: 341px;
    background-image: url('../Images/b1.jpg');
}

.ying-left {
    float: left;
    width: 234px;
    height: 616px;
    margin-right: 14px;
}

.ying-right {
    float: right;
    width: 978px;
    height: 100%;

}

.ying-top {
    width: 100%;
    height: 300px;
    margin-bottom: 13px;
}

.ying-bottom {
    width: 100%;
    height: 300px
}

.ying {
    transition: all .5s linear;
}

.ying:hover {
    box-shadow: 0px 14px 20px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-8px);
}

.kuang {
    position: absolute;
    bottom: -100px;
    float: left;
    width: 236px;
    height: 76px;
    background: #FF6700;
    display: block;
    opacity: 0;
}

.ying:hover .kuang {
    animation: donghua .4s linear forwards;
}

@keyframes donghua {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    10% {
        opacity: 0.1;
        transform: translateY(-10px);
    }
    20% {
        opacity: 0.2;
        transform: translateY(-20px);
    }
    30% {
        opacity: 0.3;
        transform: translateY(-30px);
    }
    40% {
        opacity: 0.4;
        transform: translateY(-40px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-50px);
    }
    60% {
        opacity: 0.6;
        transform: translateY(-60px);
    }
    70% {
        opacity: 0.7;
        transform: translateY(-70px);
    }
    80% {
        opacity: 0.8;
        transform: translateY(-80px);
    }
    90% {
        opacity: 0.9;
        transform: translateY(-90px);
    }
    100% {
        opacity: 1;
        transform: translateY(-100px);
    }
}

.ying-picture1 {
    float: left;
    width: 234px;
    height: 616px;
    background-image: url('../Images/6.png');
    margin-right: 14px;

}

.ying-picture2 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/7.png');
    margin-right: 14px;
}

.ying-picture3 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/8.png');
    margin-right: 14px;
}

.ying-picture4 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/9.png');
    margin-right: 14px;
}

.ying-picture5 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/10.png');
}

.ying-picture6 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/11.png');
    margin-right: 14px;
}

.ying-picture7 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/12.png');
    margin-right: 14px;
}

.ying-picture8 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/13.png');
    margin-right: 14px;
}

.ying-picture9 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/14.png');
}

.ying-text {
    width: 1226px;
    line-height: 23px;
    font-size: 23px;
    margin-bottom: 20px;
    margin: auto;
    left: 14px;
    margin-bottom: 19px;
    margin-top: 120px;
}

.da-picture {
    width: 1226px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    overflow: hidden;
}

.da-text {
    width: 1226px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
    /*  margin-bottom:20px; */
}

.da-text-left {
    float: left;
    font-size: 23px;
}

.da-text-right {
    width: 450px;
    float: right;
}

.da-text-right li {
    float: left;
    font-size: 19px;
    margin-left: 20px;
}

.da-top {
    padding-top: 19px;
    width: 100%;
    height: 300px;
    margin-bottom: 13px;
    overflow: hidden;
}

.da-bottom {

    width: 100%;
    height: 300px
}

.da-picture1 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/12.jpg');
    margin-right: 14px;
}

.da-picture2 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/13.jpg');
    margin-right: 14px;
    position: relative;
    overflow: hidden;
}

.kuang ul {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.wenzi {
    font-size: 10px;
}

.da-picture3 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/14.jpg');
    margin-right: 14px;
}

.da-picture4 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/15.jpg');
    margin-right: 14px;
}

.da-picture5 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/16.jpg');
}

.da-picture6 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/17.jpg');
    margin-right: 14px;
}

.da-picture7 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/18.jpg');
    margin-right: 14px;
}

.da-picture8 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/19.jpg');
    margin-right: 14px;
}

.da-picture9 {
    float: left;
    width: 234px;
    height: 300px;
    margin-right: 14px;
    background-image: url('../Images/20.jpg');
}

.da-kuang {
    float: left;
    width: 234px;
    height: 300px;
}

.da-picture10 {
    float: left;
    width: 234px;
    height: 148px;
    margin-right: 14px;
    background-image: url('../Images/20.png');
    margin-bottom: 13px;
}

.da-picture11 {
    float: left;
    width: 234px;
    height: 148px;
    margin-right: 14px;
    background-image: url('../Images/21.png');
}

.pei-text {
    width: 1226px;
    overflow: hidden;
    margin: 0 auto;
    /*   margin-bottom:20px; */
}

.pei-text-right2 li {
    float: left;
    font-size: 19px;
    margin-left: 20px;
}

.pei-text-right2 {
    float: right;
    margin-right: 0px;
}

.pei-picture1 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/p1.jpg');
    margin-right: 14px;
}

.pei-picture2 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/p2.jpg');
    margin-right: 14px;
    position: relative;
    overflow: hidden;
}

.pei-picture3 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/p3.jpg');
    margin-right: 14px;
}

.pei-picture4 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/p4.jpg');
    margin-right: 14px;
}

.pei-picture5 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/p6.jpg');
}

.pei-picture6 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/p7.jpg');
    margin-right: 14px;
}

.pei-picture7 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/p5.jpg');
    margin-right: 14px;
}

.pei-picture8 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/p8.jpg');
    margin-right: 14px;
}

.pei-picture9 {
    float: left;
    width: 234px;
    height: 300px;
    margin-right: 14px;
    background-image: url('../Images/p7 (2).jpg');
}

.da-kuang {
    float: left;
    width: 234px;
    height: 300px;
}

.pei-picture10 {
    float: left;
    width: 234px;
    height: 148px;
    margin-right: 14px;
    background-image: url('../Images/p9.png');
    margin-bottom: 13px;
}

.pei-picture11 {
    float: left;
    width: 234px;
    height: 148px;
    margin-right: 14px;
    background-image: url('../Images/21.png');
}

.zhou-text {
    width: 1226px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
    /* margin-bottom:20px; */
}

.zhou-text-right2 li {
    float: left;
    font-size: 19px;
    margin-left: 20px;
}

.zhou-text-right2 {
    float: right;
    margin-right: 0px;
}

.zhou-picture1 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/z1.jpg');
    margin-right: 14px;
}

.zhou-picture2 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/z2.jpg');
    margin-right: 14px;
    position: relative;
    overflow: hidden;
}

.zhou-picture3 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/z3.jpg');
    margin-right: 14px;
}

.zhou-picture4 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/z4.jpg');
    margin-right: 14px;
}

.zhou-picture5 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/z5.jpg');
}

.zhou-picture6 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/z6.jpg');
    margin-right: 14px;
}

.zhou-picture7 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/z7.jpg');
    margin-right: 14px;
}

.zhou-picture8 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/z8.jpg');
    margin-right: 14px;
}

.zhou-picture9 {
    float: left;
    width: 234px;
    height: 300px;
    margin-right: 14px;
    background-image: url('../Images/z9.jpg');
}

.zhou-kuang {
    float: left;
    width: 234px;
    height: 300px;
}

.zhou-picture10 {
    float: left;
    width: 234px;
    height: 148px;
    margin-right: 14px;
    background-image: url('../Images/z10.jpg');
    margin-bottom: 13px;
}

.zhou-picture11 {

    float: left;
    width: 234px;
    height: 148px;
    margin-right: 14px;
    background-image: url('../Images/21.png');
}

.wei-text {
    width: 1226px;
    line-height: 23px;
    font-size: 23px;
    margin-bottom: 20px;
    margin: auto;
    left: 14px;
    margin-top: 40px;
    /*   margin-bottom: 19px; */

}

.wei-picture {
    padding-top: 19px;
    width: 1226px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.wei-picture1 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/w1.jpg');
    margin-right: 14px;
}

.wei-picture2 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/w2.jpg');
    margin-right: 14px;
}

.wei-picture3 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/w3.jpg');
    margin-right: 14px;
}

.wei-picture4 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/w4.jpg');
    margin-right: 14px;
}

.wei-picture5 {
    float: left;
    width: 234px;
    height: 300px;
    background-image: url('../Images/w5.jpg');
}

.re-text {
    width: 1226px;
    line-height: 23px;
    font-size: 23px;
    margin-bottom: 20px;
    margin: auto;
    left: 14px;
    margin-top: 40px;
    /*  margin-bottom: 19px; */

}

.re-picture {
    padding-top: 19px;
    width: 1226px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    overflow: hidden;
}

.re-picture1 {
    float: left;
    width: 295px;
    height: 416px;
    background-image: url('../Images/r1.jpg');
    margin-right: 14px;
    position: relative;
}

.re-txt {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 30px;
    width: 240px;
    height: 132px;
    font-size: 12px;
    line-height: 24px;

}

.re-txt2 {
    margin-top: 20px;
    width: 240px;
    height: 132px;
    font-size: 10px;
    color: #737373;
    line-height: 12px;

}

.re-picture2 {
    float: left;
    width: 295px;
    height: 416px;
    background-image: url('../Images/r2.jpg');
    margin-right: 14px;
    position: relative;
}

.re-picture3 {
    float: left;
    width: 295px;
    height: 416px;
    background-image: url('../Images/r3.jpg');
    margin-right: 14px;
    position: relative;
}

.re-picture4 {
    float: left;
    width: 295px;
    height: 416px;
    background-image: url('../Images/r4.jpg');
    position: relative;
}

.nei-text {
    width: 1226px;
    line-height: 23px;
    font-size: 23px;
    margin-bottom: 20px;
    margin: auto;
    left: 14px;

}

.nei-picture {
    margin-top: 19px;
    width: 1226px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    overflow: hidden;
}

.nei-picture1 {
    border-top: 1px solid #FFAC13;
    overflow: hidden;
    float: left;
    width: 295px;
    height: 421px;
    background: #fff;
    margin-right: 14px;
    position: relative;
}

.box2 {
    position: absolute;
    left: 103px;
    bottom: 25px;
    margin: auto;

}

.box2 div {
    margin-right: 32px;
    background: #AAA297;
    width: 5px;
    height: 5px;
    float: left;
    border-radius: 50px;
    border: 1px solid #AAA297;

}

.jiantou2, .jiantou3 {
    position: absolute;
    bottom: 180px;
    width: 42px;
    height: 70px;
    font-size: 50px;
    color: #fff;
    background: #66635f;
    opacity: 0;
}

.nei-picture1:hover .jiantou2 {
    animation: donghua2 .5s linear forwards;
}

.nei-picture1:hover .jiantou3 {
    animation: donghua2 .5s linear forwards;
}

.nei-picture2:hover .jiantou2 {
    animation: donghua2 .5s linear forwards;
}

.nei-picture2:hover .jiantou3 {
    animation: donghua2 .5s linear forwards;
}

.nei-picture3:hover .jiantou2 {
    animation: donghua2 .5s linear forwards;
}

.nei-picture3:hover .jiantou3 {
    animation: donghua2 .5s linear forwards;
}

.nei-picture4:hover .jiantou2 {
    animation: donghua2 .5s linear forwards;
}

.nei-picture4:hover .jiantou3 {
    animation: donghua2 .5s linear forwards;
}

@keyframes donghua2 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }

    30% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 0.7;
    }
}

.jiantou2 {
    left: 0px;
}

.jiantou3 {
    right: 0;
}

.jiantou2, .jiantou3 {
    position: absolute;
    bottom: 197px;
    width: 22px;
    height: 48px;
    font-size: 18px;
    color: #fff;
    background: #66635f;
    opacity: 0;
}

.jiantou2:hover {
    animation: donghua2 .5s linear forwards;
}

.jiantou3:hover {
    animation: donghua2 .5s linear forwards;
}

@keyframes donghua2 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }

    30% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 0.7;
    }
}

.t10 {
    float: left;
    margin-top: 10px;
    margin-left: 6px;
}

.jiantou {
    left: 234px;
}

.jiantou1 {
    right: 0;
}

.box3 {
    position: absolute;
    left: 88px;
    bottom: 25px;
    margin: auto;

}

.box3 div {
    margin-right: 32px;
    background: #AAA297;
    width: 5px;
    height: 5px;
    float: left;
    border-radius: 50px;
    border: 1px solid #AAA297;

}


.nei-picture2 {
    border-top: 1px solid #A7D382;
    overflow: hidden;
    background: #fff;
    float: left;
    width: 295px;
    height: 421px;
    margin-right: 14px;
    position: relative;
}

.nei-picture3 {
    border-top: 1px solid #EA5E5B;
    overflow: hidden;
    background:#fff;
    float: left;
    width: 295px;
    height: 421px;
    margin-right: 14px;
    position: relative;
}

.nei-picture4 {
    border-top:1px solid #2196F3;
    overflow: hidden;
    background:#fff;
    float: left;
    width: 295px;
    height: 421px;
    position: relative;
}

.v-text {
    width: 1226px;
    line-height: 23px;
    font-size: 23px;
    margin-bottom: 20px;
    margin: auto;
    left: 14px;
    margin-top: 40px;
    margin-bottom: 19px;
}

.v-text2 {
    float: right;
    line-height: 16px;
    font-size: 16px;
    margin-right: 5px;
    margin-top: 2px;
    color: #424242;
}

.jt {
    float: right;
    width: 20px;
    height: 20px;
}

.v-picture {
    padding-top: 19px;
    width: 1226px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 60px;
}

.yuanjiao {

    float: left;
    position: absolute;
    left: 19px;
    bottom: 115px;
    margin: auto;
    opacity: 0;
}

.yuanjiao:hover {
    opacity: 1;
}

.v-picture1 {
    float: left;
    width: 296px;
    height: 286px;
    background-image: url('../Images/v1.jpg');
    margin-right: 14px;
    position: relative;
}

.v-picture2 {
    float: left;
    width: 296px;
    height: 286px;
    background-image: url('../Images/v2.jpg');
    margin-right: 14px;
}

.v-picture3 {
    float: left;
    width: 295px;
    height: 286px;
    background-image: url('../Images/v3.jpg');
    margin-right: 14px;
}

.v-picture4 {
    float: left;
    width: 295px;
    height: 286px;
    background-image: url('../Images/v4.jpg');
}

.
footer {
    width: 100%;
    height: 280px;
    background: #fff;
}

.tiao {
    margin: 0 auto;
    width: 1226px;
    height: 82px;
    border-bottom: 1px solid #E0E0E0;
}

.wenzi-kuang {
    float: left;
    width: 1120px;
    height: 40px;
    margin-top: 20px;
    margin-left: 66px;
}

.text1 {
    float: left;
    width: auto;
    line-height: 30px;
    font-size: 15px;
    color: #616161;
    padding-right: 66px;
    margin-top: 7px;
    margin-bottom: 5px;
    border-right: 1px solid #b0b0b0;
}

.text2 {
    float: left;
    width: auto;
    line-height: 30px;
    font-size: 15px;
    color: #616161;
    margin-top: 7px;
    margin-bottom: 5px;

}

.icon {
    margin-left: 40px;
    margin-top: 6px;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.icon2 {
    margin-top: 6px;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.ab {
    margin: 0 auto;
    width: 1226px;
    height: 130px;
    margin-top: 41px;
}

.ab ul {
    margin-right: 100px;
    float: left;
}

.ab ul li {
    margin-bottom: 17px;
    font-size: 10px;
    color: #757575;
}

.ab .lie1 {
    margin-bottom: 30px;
    font-size: 15px;
    color: #424242;
}

.lainxi-left {
    overflow: hidden;
    float: left;
    margin-right: 0px;
}

.lianxi-right {
    width: 255px;
    height: 144px;
    float: right;
    border-left: 1px solid #E0E0E0;
}

.lianxi-right ul {
    float: right;
    margin-right: 55px;
    text-align: center;
}

.lianxi-right ul li {
    margin-bottom: 10px;
}

.lianxi-right :nth-child(1) {
    font-size: 25px;
    color: #FF6709;
}

.lianxi-kefu {
    margin-top: 10px;
    margin-left: 70px;
    float: left;
    width: 120px;
    height: 30px;
    background-image: url('../Images/24.jpg');
}

.lianxi-kefu:hover {
    margin-top: 10px;
    margin-left: 70px;
    float: left;
    width: 120px;
    height: 30px;
    background-image: url('../Images/25.jpg');
}

.dibu {
    margin: 0 auto;
    width: 1226px;
    height: 55px;
    margin-top: 30px;
}

.dibu-left {
    float: left;
    margin-left: 60px;
    width: 800px;
    height: 55px;
}

.dibu-left div {
    float: left;
    margin-bottom: 3px;
    font-size: 10px;
    color: #B0B0B0;
}

.dibu-left div ul li {
    float: left;
    font-size: 13px;
    color: #757575;
    padding-right: 4px;
    border-right: 1px solid #757575;
    margin-right: 4px;
}

.dibu-right {
    width: 365px;
    height: 55px;
    float: right;
}

.dibu-right img {
    float: right;
    margin-left: 12px
}

.ggc {
    text-align: center;
    line-height: 25px;
    width: 1226px;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #BABABA;
}
.hha{
    transition: all 0.5s;
    width:4904px;
    height: 300px;

}
.m-yjt1 {
    background: #fff;
    font-weight: bold;
    text-align: center;
    float: right;
    line-height: 20px;
    float: right;
    height: 20px;
    width: 36px;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}
.m-zjt1 {
    opacity: 0.5;
    background: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    float: right;
    height: 20px;
    width: 36px;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}
.title11 {
    font-family: 苹方;
    color: #FFB52C;
    margin:45px 18px 23px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.mg{
    transition: all 0.5s;
    margin-left: 0;
    width:885px;
    height: 330px;
}
.nh{
    font-weight: 500;
    font-family: 苹方;
    margin: 0 20px 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mg ul li{
    text-align: center;
    float:left;
    width:295px;
    height: 340px;
}
.jie{
    font-family:  苹方;
    margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    color: #b0b0b0;
}
.pp{
    font-family:  苹方;
    height: 21px;
    margin: 0 10px 15px;
    text-align: center;
    color: #333;
}
.jyk{
    width: 216px;
    height: 154px;
}
.btn-line-orange {
    border-color: #ffac13;
    background: #fff;
    color: #ffac13;
}
.btn-small {
    border: 1px solid #ffac13;
    margin:20px 88px;
    display: block;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}
.mg1 {
    transition: all 0.5s;
    margin-left: 0;
    width:1180px;
    height: 330px;
}
.mg1 ul li {
    text-align: center;
    float: left;
    width: 295px;
    height: 340px;
}
